<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tringle</title>
</head>
<body>
    That is Tringle page:
    <h1><a href="/">Home</a></h1>
    <h1><a href="/tringle">Tringle</a></h1>

    <h1>Calculate Circle Here</h1>
    <form action="/circle" method="post">
        <div>
            <label for="redius">Redius :</label>
            <input type="text" name="redius" id="redius">
        </div>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>