<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tringle</title>
</head>
<body>
    That is Tringle page:
    <h1><a href="/">Home</a></h1>
    <h1><a href="/circle">Circle</a></h1>

    <h1>Calculate Tringle Here</h1>
    <form action="/tringle" method="post">
        <div>
            <label for="base">Base :</label>
            <input type="text" name="base" id="base">
        </div>
        <div>
            <label for="height">Height</label>
            <input type="text" name="height" id="height">
        </div>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>