<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sub">Substraction</a></li>
        <li><a href="/multi">Multiplication</a></li>
        <li><a href="/divide">Dividetion</a></li>
    </ul>
    <h1>Here you can add your number...</h1>
    <form action="/add" method="post">
        <div>
            <label for="firstNum">First Number ::</label>
            <input type="text" name="firstNum" id="firstNum">
        </div>
        <div>
            <label for="secondtNum">Second Number ::</label>
            <input type="text" name="secondtNum" id="secondtNum">
        </div>
        <button type="submit">SubMit</button>
    </form>
</body>
</html>